@using System.Data.SqlClient;
@using System.Diagnostics;
@using WebApplication2.Models;
@using WebApplication2.Database;
@using WebApplication2.Controllers;
@{
    ViewBag.Title = "UserAccounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var username = "";
    var currSession = (Account)Session["LoggedIn"];

    if (currSession == null || currSession.type == "User")
    {
        Response.Redirect("/account/noadmin");

    }
    else {

        if (IsPost)
        {
            if (Request.Form["Request"] != null)
            {
                username = Request.Form["Username"];
                DatabaseController.connect();
            
                try
                {
                    var myRs = DatabaseController.runScalarQuery("SELECT * FROM Users u WHERE u.Username= '" + username + "'");


                    if (myRs > 0)
                    {
                        Debug.Write("Existing user account");

                    }
                    else
                    {
                            < text > Non existing user account.</ text >
                    }
                }
                catch (NullReferenceException e)
                {
                    Console.WriteLine(e.Message);
                }
            }
            if (Request.Form["Update"] != null)
            {

            }
        }
    }








<h2>useraccounts</h2>
<form method="POST">
    Username:<br>
    <input type="text" name="username" value="@Request.Form["username"]" placeholder="Ex.: BobEleveld"><br>
    Password:<br>
    <input type="text" name="password" value="@Request.Form["Password"]" placeholder="Ex.: Blabla"><br>
    Name:<br>
    <input type="text" name="name" value="@Request.Form["Name"]" placeholder="Ex.: Bob"><br>
    Surname:<br>
    <input type="text" name="surname" value="@Request.Form["Surname"]" placeholder="Ex.: Eleveld"><br>
    Address:<br>
    <input type="text" name="address" value="@Request.Form["Address"]" placeholder="Ex.: Boblaan 12"><br>
    Email:<br>
    <input type="text" name="email" value="@Request.Form["Email"]" placeholder="Ex.: bobross@gmail.com"><br>
    Type:<br>
    <input type="text" name="type" value="@Request.Form["Type"]" placeholder="Admin or User"><br>
    
    
    <br>

    <input name="Request" type="submit" value="Request"/>
    <input name="Update" type="submit" value="Update"/>
</form>



