@using System.Data.SqlClient;
@using System.Diagnostics;
@using WebApplication2.Models;
@using WebApplication2.Database;
@using WebApplication2.Controllers;
@{
    ViewBag.Title = "UserAccounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var username = "";
    var currSession = (Account)Session["LoggedIn"];

    var password = "";
    var name = "";
    var surname = "";
    var address = "";
    var email = "";
    var type = "";


     if (currSession == null || currSession.type == "User")
      {
         Response.Redirect("/account/noadmin");

     }
    else {

    if (IsPost)
    {
        username = Request.Form["Username"];
        if (Request.Form["Request"] != null)
        {

            DatabaseController.connect();

            var myRs = DatabaseController.runQuery("SELECT * FROM Users u WHERE u.Username= '" + username + "'");
            while (myRs.Read())
            {
                try
                {
                    if (myRs != null)
                    {
                        Debug.Write("Existing user account");
                        password = myRs["Password"].ToString();
                        name = myRs["Name"].ToString();
                        surname = myRs["Surname"].ToString();
                        address = myRs["Address"].ToString();
                        email = myRs["Email"].ToString();
                        type = myRs["Type"].ToString();

                    }
                    else
                    {
                            < text > Non existing user account.</ text >
                    }
                }
                catch (NullReferenceException e)
                {
                    Console.WriteLine(e.Message);
                }
            }
            Debug.WriteLine("  stop punt 1");
            myRs.Close();
        }

        if (Request.Form["Update"] != null)
        {


            Debug.WriteLine("  stop punt 2 update");

            var Upassword = Request.Form["password"];
            Debug.WriteLine(Upassword);
            var Uname = Request.Form["name"];
            var Usurname = Request.Form["surname"];
            var Uaddress = Request.Form["address"];
            var Uemail = Request.Form["email"];
            var Utype = Request.Form["type"];

            var query = "UPDATE Users SET password = '" + Upassword + "', name = '" + Uname + "', surname = '" + Usurname + "', address = '" + Uaddress + "', email = '" + Uaddress + "' WHERE Username = '" + username + "'";
            Debug.WriteLine(query);

            // cmd.Parameters.AddWithValue("@1", @password);
            // cmd.Parameters.AddWithValue("@2", @name);
            // cmd.Parameters.AddWithValue("@3", @surname);
            //  cmd.Parameters.AddWithValue("@4", @address);
            //  cmd.Parameters.AddWithValue("@5", @email);
            //  cmd.Parameters.AddWithValue("@6", @type);


            SqlConnection conn = new SqlConnection("Data Source=145.24.222.224,8080;Initial Catalog=Project56;User ID=abc;Password=abc123");

            SqlCommand stmt = new SqlCommand(query, conn);
            conn.Open();
            stmt.ExecuteNonQuery();
            conn.Close();
        }
    }
     }
    }








<h2>Edit user accounts</h2>
<form method="POST">
    Username:<br>
    <input type="text" name="username" value="@Request.Form["username"]" placeholder="Ex.: BobEleveld"><br> 
    Password:<br>
    <input type="text" name="password" value="@password"><br>
    Name:<br>
    <input type="text" name="name" value="@name"><br>
     Surname:<br>
    <input type="text" name="surname" value="@surname"><br>
    Address:<br>
     <input type="text" name="address" value="@address"><br>
     Email:<br>
    <input type="text" name="email" value="@email"><br>
    <br>
    
    <input name="Request" type="submit" value="Request"/>
    <input name="Update" type="submit" value="Update"/>
</form>



